.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    background-color: gray;
}

.result_box {
    background-color: black;
    margin-bottom: 10px;
}

.row {
    display: flex;
    margin-bottom: 2px;
}

.num_row_1 {
    justify-content: space;
}

.calc_btn {
    flex: 1;
    width: 20px;
    margin: 2px;
    text-align: center;
    background-color: black;
}